<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marca y modelo</title>
</head>
<body style="background-image: url('https://previews.123rf.com/images/ximagination/ximagination1802/ximagination180201666/96311250-drone-view-of-parking-lot.jpg'); background-size: cover;">
    <h1>Introducir Marca y Modelo</h1>
    <form action="/car" method="post">
        <label for="marca_modelo">Marca y modelo:</label><br>
        <input type="text" id="marca_modelo" name="marca_modelo"><br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>